.tbbg1 { background:#dff0f8; }
.tbbg2 { background:#ccff99; }
.tbbg3 { background:#ffffcc;}
.pushdwn {margin-top:50px;}
.cmtbg1 {background: #ffffcc; padding:7px;}
.cmtbg2 {background: #dff0f8; padding:7px;}
.pushright {float:right;}
.bdcsize {height:550px;}
.patxt{font-size:13px;}
